* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: black;
    background-color: white;
}

.child2 {
    display: flex;
    justify-content: space-between;
}
.edgecut {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.login{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.nav-links {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 7px
}

.nav-links:hover {
    color: goldenrod;
}



.child3 {
    margin-right: 30px;

}

.middle_pic {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #f6f5f5;
    color: black;
    height: 430px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;

}

.heading {
    font-size: 40px;
    text-transform: uppercase;
}

.Image {
    width: 650px;
    height: 350px;
}

.content {
    height: 300px;
    width: 450px;
    padding: 10px
}

button {
    height: 40px;
    width: 150px;
    font-size: 15px;
    border-radius: 10px;
}

.button1 {
    background-color: #DE802B;
    border: 1px solid #DE802B;

}

.button2 {
    background-color: #79C9C5;
    border: 1px solid #79C9C5;
}

.head {
    margin-top: 60px;
    margin-left: 100px;
}

.h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.para {
    font-size: 20px;
}

.furniture {
    display: flex;
}

.parent {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    background-color: rgb(247, 250, 250);
}

.imga {
    width: 250px;
    margin-left: 15px;
    margin-top: 60px;
}

.para1 {
    text-transform: uppercase;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 18px;
}

span {
    color: #79C9C5;
}

.buy {
    color: #79C9C5;
    text-transform: uppercase;
    margin-left: 150px;
}

.hea {
    text-transform: uppercase;
    margin-top: 70px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.main2 {
    display: flex;
    margin-top: 70px;
}

.sh {
    width: 350px;
    height: 300px;
}

.sheeza {
    background-color: rgb(247, 250, 250);
    margin-left: 55px;
    width: 350px;
    box-shadow: 0 0 20px gainsboro;
}

.mid {
    padding: 30px;
}

.bt {
    height: 40px;
    width: 150px;
    color: white;
    font-size: 20px;
    border-radius: 0px;
    background-color: #79C9C5;
    border: 1px solid #79C9C5;
    margin-top: 20px;
}

.text {
    border: 1px solid #79C9C5;
    margin-top: 60px;
    margin-left: 200px;
    width: 900px;
    height: 300px;
    background-color: rgb(247, 250, 250);

}

.client-pic {
    height: 180px;
    width: 180px;
    border: 12px solid #79C9C5;
    border-radius: 50%;
}

.test-container {
    display: flex;
    border: 1px solid #f6f5f5;
    margin-left: 200px;
    margin-top: 50px;
    width: 900px;
    height: 250px;
    box-shadow: 10px 10px 10px 10px #e7e5e5;
}

.test-card {
    margin-left: 30px;
    margin-top: 40px;
}

.test-heading {
    color: #79C9C5;
    font-size: 30px;

}

.test-para {
    font-size: 20px;
    margin-right: 60px;
}

.test-container-icon {
    display: flex;
    margin-left: 50%;
    margin-top: 50px;
    gap: 5px;
}

/* .icon-div{
    background-color: #79C9C5;
    border: 1px solid #79C9C5;
    border-radius: 50%;
    height: 40px;
    justify-content: space-between;
  width: 40px;
    
} */


.test-icon {
    color: rgb(255, 255, 255);

    font-size: 20px;

}

.contact-info {
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 250, 250);
    height: 500px;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;

}

.contact-heading {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 20px;
}

.input {
    height: 40px;
    width: 480px;
    padding-left: 5%;

    font-size: 20px;
    margin-left: 20px;
    border: none;
}

#contact-text {
    height: 100px;
    font-size: 20px;
    padding-left: 5%;

    border: none;
    width: 480px;
    margin-left: 20px;
}

.contact-button {
    background-color: #79C9C5;
    border: 1px solid #79C9C5;
    color: white;
    font-size: 20px;
    border-radius: 0px;
    height: 40px;
    width: 150px;
    margin-left: 20px;
}

.contact-map {
    margin-right: 50px;
    margin-top: 40px;
}

.footer-div {
    background-color: black;
    height: 450px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px;
}

.call {
    font-size: 20px;
}

.call:hover {
    color: goldenrod;
}

.mail {
    font-size: 20px;
}

.mail:hover {
    color: goldenrod;
}

.location {
    font-size: 20px;
}

.location:hover {
    color: goldenrod;
}

.links {
    margin-left: 50px;
    margin-right: 50px;

    padding: 50px;
}

.footer-links {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.footer-links:hover {
    color: goldenrod;
}

.all {
    display: flex;
    justify-content: space-between;
}

.feeds {
    /* margin-left: 50px;
    margin-right: 50px; */
    padding: 50px;
}
.feed{
    display: flex;
    justify-content: space-between;
   
    /* height: 50px;
    width: 50px; */
}
.pic{
    background-color: #f6f5f5;
    gap: 10px;
    margin-top: 10px;

    padding-top: 5px;
    height: 50px;
    width: 50px;
}

.signup {
    padding-right: 20px;

    padding: 50px;

}

.input-mail {
    height: 40px;
    width: 300px;
    padding-left: 10%;
    font-size: 20px;
    margin-left: 20px;
    border: none;
}
.last-icon{
    border: 1px solid #79C9C5;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    padding-top: 8px;
    padding-left: 9px;
}
.last-icon:hover{
    border: 1px solid goldenrod;
    
}
.user{
   
    color: #79C9C5;
}
.user:hover{
    color: goldenrod;
}
.last{
    display: flex;
    gap: 10px;
}